.media {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-start;

  &:first-child {
    margin-top: 0;
  }
}

.left {
  padding-right: 1rem;
}

.right {
  padding-left: 1rem;
}

.body {
  flex-grow: 2;
}
